*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    margin-top: 10px;
}
body{
    background: url(https://www.wallpaperup.com/uploads/wallpapers/2015/04/20/666607/4cc0caf00a1d335e456ff6513210080e.jpg);
    background-size: cover;
    
    
}

.container1{
    display: flex;
    border: 10px solid rgb(240, 122, 12);
    border-radius: 20px;
    box-shadow: 20px 20px 20px;
    width: 300px;
    height: 300px;
    display: center;
    background-color: blue;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 230px;
    opacity: 60%;
 
    

}
h2{
    text-align: center;
    height: 45px;
}
.box{
    display: flex;
  
    align-items: center;
    width: 220px;
    height: 30px;
    justify-content: center;
    margin: 10px;
    border-radius: 10px;
  
}
#login{
    display: flex;
    border-radius: 10px;
    font-family: monospace;
    height: 30px;
    
    margin: 35px;
    align-items: center;
    display: center;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    

    

}